body {
  margin: 0;
  padding: 0;
  color: white;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
  color: white;
}

p {
  margin: 0 0 0 16px;
}

.body {
  height: 100%;
}

.background-image {
  opacity: 29%;

  background: url('wildtextures-generic-grey-concrete.jpg') no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

.background-filter {
  background-color: rgba(44, 44, 44, 0.3);
  height: 100%;
}

.card {
  border-radius: 4px;
  background: rgba(44, 44, 44, 0.3);
  border: 3px solid rgba(44, 44, 44, 0.05);
  margin: 1em 0;
}


.banner-title {
  font-size: 64;
  color: #eee;
}

.hidden {
  display: none;
}

.navigation-list {
  
}

.navigation-list-element {
  
}

.font-script {
  font-family: "Damion";

}

.font-slab, .font-serif {
  font-family: "Rokkitt";
  font-weight: 700;
}

.font-sans, body {
  font-family: "Work Sans";
  font-weight: 300;
}

.type-xxxxl {
  font-size: 96px;
  line-height: 80px;
}

.type-xxxl {
  font-size: 78px;
}
.type-xxl {
  font-size: 62px;
}

.type-xl {
  font-size: 50px;
}

.type-lg {
  font-size: 40px;
}

.type-default, body {
  font-size: 32px;
}

.type-sm {
  
}

.type-xs {
  
}



.em-low{font-weight:100!important}.em-default{font-weight:400!important}.em-high{font-weight:500!important}.em-max{font-weight:700!important}.em-alt{text-transform:uppercase!important}.em-alt-2{
  text-transform: lowercase !important; }

.type-brand-1 {
  color: hsl(227, 84%, 77%) !important;
}

.type-brand-2 {
  color: hsl(84, 84%, 77%) !important;
}

.type-brand-3 {
  color: hsl(48, 84%, 77%) !important;
}

.type-brand-4 {
  color: hsl(-168, 84%, 77%);
}

.type-brand-5 {
  color: hsl(12,84%,77%) !important
}

.grid {
  display: grid;
}

.inline-grid {
  display: inline-grid;
}

.subgrid {
  display: subgrid;
}